.box-familia {
  border: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.div-nome-familia {
  text-align: center;
  border-bottom-style: solid;
}
